<div class="container text-center leaderboards">
      <div class="row">
        <div class="col-xs-6">
          <img class="img img-responsive pull-right" src="http://placehold.it/728x90"/>
        </div>
        <div class="col-xs-6">
          <img class="img img-responsive" src="http://placehold.it/728x90"/>
        </div>
      </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="header-logo">
      <img class="img img-responsive" src="img/header-logo.svg"/>
    </div>
    <h3 class="frontpage-section">
      <span class="header-section">News</span>
      <span class="header-section">Sports</span>
      <span class="header-section">Opinion</span>
      <span class="header-section">Video</span>
      <span class="header-section">34<sup>th</sup> Street</span>
      <span class="header-section">Under the Button</span>        
    </h3>
  </div>
</div>