<div class="section-list">
  <div class="col-sm-3">
    <h4>News</h4>
    <a href="#">Academics</a>
    <a href="#">Administration</a>
    <a href="#">Admissions</a>
    <a href="#">Crime</a>
    <a href="#">Politics</a>
    <a href="#">Philadelphia</a>
    <a href="#">Student Life</a>
    <a href="#">Tech</a>
  </div>
  <div class="col-sm-3">
    <h4>Sports</h4>
    <a href="#">Men’s Basketball</a>
    <a href="#">Wrestling</a>
    <a href="#">Men’s Squash</a>
    <a href="#">Women’s Squash</a>
    <a href="#">Men’s Swimming</a>
    <a href="#">Women’s Swimming</a>
    <a href="#">Track</a>
  </div>
  <div class="col-sm-3">
    <h4>Opinion</h4>
    <a href="#">Staff Editorials</a>
    <a href="#">Opinion Columns</a>
    <a href="#">Letters to the Editor</a>
    <a href="#">Opinion Art</a>
    <a href="#">Guest Columns</a>
    <a href="#">Submit a Column</a>
  </div>
  <div class="col-sm-3">
    <h4>34<sup>th</sup>&nbsp;Street</h4>
    <a href="#">Highbrow</a>
    <a href="#">Ego</a>
    <a href="#">Music</a>
    <a href="#">Film</a>
    <a href="#">Food &amp; Drink</a>
    <a href="#">Arts</a>
    <a href="#">Lowbrow</a>
    <a href="#">Backpage</a>
    <a href="#">Letter</a>
    <a href="#">Features</a>
    <a href="#">Word on the Street</a>
  </div>
</div>
