{% extends "base.html" %} {%block body%}
  <div class="container">
    <div class="row">
      <article class="col-sm-8">
        <div class="article-metadata">
          <h5>Category</h5>
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h1>
          <span class="byline">By Lorem Ipsum</span>
          <span class="dateline">January 1<sup>st</sup> 1970</span>
        </div>
        <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
        <figure>
          <img src="https://placehold.it/1200x800?text=4:3" class="img img-responsive img-leader" />
          <figcaption>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
          </figcaption>
        </figure>
        <p>
          Regal music accompanied thousands of Penn freshmen as they marched down Locust Walk, sober and in business casual for their first time since arriving at Penn. The excitement was palpable; but few expected convocation to pointedly address the mental health
          crisis that has rocked Penn’s campus since six students committed suicide within 15 months.
        </p>
        <p>
          “Challenges are inevitable. Setbacks will occur. But you are not alone in navigating them. You are right here with others who are ready, willing and eager to help,” Penn President Amy Gutmann said. “Asking for help, far from signaling weakness or failure,
          is a most positive sign that you appreciate something very profound.”
        </p>
        <p>
          Gutmann’s speech came at the heels of the suicide of Penn junior Timothy Hamlett, who was found dead earlier this summer. For months prior, the Penn community called out the administration for a perceived lack of action to fight depression and destructive
          perfectionism — or “Penn Face.”
        </p>
        <p>
          “I think Penn can do more to help students who are overwhelmed and need someone to go to and trust,” said Jim Holleran, the father of Madison Holleran — a Penn freshman who died in spring 2014 — in a February Daily Pennsylvanian article. Logan Gardner,
          a friend of Madison’s and a Wharton junior, agreed. “I think the approach of cultural change as an overarching theme is a very good step forward for Penn. But that being said, I don’t think you can get much accomplished without concrete goals,”
          he said.
        </p>
        <p>
          Gutmann’s speech does not indicate any change in Penn’s mental health funding — Penn has increased its funding for Counseling and Psychological Services by less than 8 percent per year since 2006, despite the fact that it has achieved record levels of
          fundraising and increased tuition at twice the rate of inflation. But it does indicate a change in the tone of conversation about mental health.
        </p>
        <p>
          “Let me make that very clear. No one — and that includes you, and you and me — no one, no one makes it in life on his or her own,” Gutmann said as she concluded her address. “No one makes it through college, let alone life, on his or her own. The sooner
          we learn this lesson the more successful we are likely to be.”
        </p>
        <p>
          And Gutmann was not alone. All of the keynote speakers at convocation spoke about mental health.
        </p>
        <p>
          “You’re not performing without a net. I’ve encouraged you to embrace the unfamiliar, but too much confusion can be bewildering, even a little scary. If at any time you feel estranged, disconnected, depressed ... like a person with no place in this community,
          if you feel that you are really losing your balance, please reach out,” Provost Vincent Price said. “We all need help from time to time. We are all truly in this together.”
        </p>
        <p>
          Even the University Chaplain Charles Howard’s prayer evoked images of the seemingly double life — one of perfectionism and one of depression — lived by many at Penn.
        </p>
        <p>
          “May they be free from the need to impress others with accomplishments, for we are already impressed and proud of them,” he said. “May they be free enough to slow down and savor all that this place has to offer, rather than race through until graduation.”
        </p>
        <p>
          Students and administrators were surprised. “I can’t believe the focus on mental health,” one administrator said, noting that previous convocations did not have similar agendas. Some upperclassmen at the event said that they too were shocked, and pleased,
          by the emphasis on mental health.
        </p>
        <p>
          “I think that one major good thing Penn is doing is admitting this is such a massive problem because mental health issues have been an issue at major universities for a long time,” said Ibrahim Bakri, a College sophomore. “By pushing this to the forefront,
          Penn is making the problem real, and making the problem real is the first step to fixing it.”
        </p>
        <p>
          Still, many Penn students think the University isn’t doing enough to address mental health at Penn.
        </p>
        <p>
          “I think more needs to be done,” College junior David Silbert, who performed at convocation as a member of the Glee Club, said. “I don’t think there would be such a high number [of deaths] if something wasn’t lacking in the CAPS system and everything
          else that we have here.”
        </p>
        <div class="author-bio">
          Lorem Ipsum is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </article>
      <aside class="col-sm-4">
        <img src="http://placehold.it/300x250" class="article-ad-unit" />
        <img src="http://placehold.it/300x250" class="article-ad-unit" />
      </aside>
    </div>
  </div>
{%endblock%}
