<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title> 
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>  
    <link rel="stylesheet" href="css/main.css"> 

  </head>
  <body>
    
    <header>
      {% include 'generic-header.html' %}
      {%block header%}
      {%endblock%}
    </header>
    
    {% block body %}
    Body content overridden here.
    {% endblock %}
    
    <footer>
      {%block footer%}
      {%endblock%}
      {% include 'generic-footer.html' %}
    </footer>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script> -->
    <!-- If I can stay away from jQuery, I will -->
    <script src="js/script.js"></script>

  </body>
</html>