<div class="container frontpage-body">
  <div class="row">
    <div class="col-md-7">
      <img src="https://placehold.it/1200x800?text=4:3" class="img img-responsive img-leader" />
      <a href="#" class="frontpage-link large-link">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod</a>
      <div class="article-preview">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="col-sm-3 top-stories">
      <div class="story top-story">
        <h5>Category</h5>
        <a href="#" class="frontpage-link medium-link">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod</a>
        <div class="article-preview">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="timestamp pull-right">2 hours ago</div>
      </div>
      <div class="story top-story">
        <h5>Category</h5>
        <a href="#" class="frontpage-link medium-link">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod</a>
        <div class="article-preview">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="timestamp pull-right">2 hours ago</div>
      </div>
    </div>
    <div class="col-sm-2 compass">
      <img src="img/compass.svg" class="compass" />
      <h5 class="compass">The Compass</h5>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
      <h6 class="compass">Lorem ipsum dolor sit amet, consect adipis elit, sed do eiusmod tempor</h6>
    </div>
  </div>

  <div class="row">
    <h3 class="frontpage-section">News</h3>
    <div class="col-sm-4 section-news section-news-left">
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
    </div>
    <div class="col-sm-4 section-news section-news-center">
      <img src="https://placehold.it/1200x800?text=4:3" class="img img-responsive" />
      <a href="#" class="frontpage-link standard-link">Penn spends over $3.8 billion in construction in past 10 years</a>
      <div class="timestamp">2 hours ago</div>
    </div>
    <div class="col-sm-4 section-news section-news-right">
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
      <h5>Category</h5>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a>
      <div class="timestamp">2 hours ago</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="frontpage-section">Opinion</h3>
      <div class="col-md-6 section-opinion">
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
      </div>
      <div class="col-md-6 section-opinion">
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <h3 class="frontpage-section">Sports</h3>
      <div class="col-md-6 section-sports">
        <div class="story-summary">
          <h5>Category</h5>
          <img src="https://placehold.it/1200x800?text=4:3" class="img img-responsive" />
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
      </div>
      <div class="col-md-6 section-opinion">
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
        <div class="story-summary">
          <h5>Category</h5>
          <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur</a>
          <div class="timestamp">2 hours ago</div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h3 class="frontpage-section">Video</h3>
    <div class="col-sm-12 section-video">
      <img src="https://placehold.it/1920x1080?text=16:9" class="img img-responsive" />
      <a href="#" class="frontpage-link large-link">
        <i class="fa fa-play-circle"></i>
        Lorem ipsum: dolor sit amet
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3 section-street">
      <img src="https://placehold.it/300x100?text=Logo" class="img img-responsive external-logo" />
    </div>
    <div class="col-sm-5 section-street">
      <div class="col-sm-7">
        <img src="https://placehold.it/400x300?text=4:3" class="img img-responsive" />
      </div>
      <div class="col-sm-5">
        <a href="#" class="frontpage-link medium-link">Lorem ipsum dolor sit amet, consectetur</a>
        <div class="timestamp">2 hours ago</div>
      </div>
    </div>
    <div class="col-sm-4 section-street">
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing</a>
      <div class="timestamp">2 hours ago</div>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing</a>
      <div class="timestamp">2 hours ago</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3 section-utb">
      <img src="https://placehold.it/300x100?text=Logo" class="img img-responsive external-logo" />
    </div>
    <div class="col-sm-5 section-street">
      <div class="col-sm-7">
        <img src="https://placehold.it/400x300?text=4:3" class="img img-responsive" />
      </div>
      <div class="col-sm-5">
        <a href="#" class="frontpage-link medium-link">Lorem ipsum dolor sit amet, consectetur</a>
        <div class="timestamp">2 hours ago</div>
      </div>
    </div>
    <div class="col-sm-4 section-street">
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing</a>
      <div class="timestamp">2 hours ago</div>
      <a href="#" class="frontpage-link standard-link">Lorem ipsum dolor sit amet, consectetur adipisicing</a>
      <div class="timestamp">2 hours ago</div>
    </div>
  </div>

  
</div>
