<div class="text-center">
      <div class="leaderboard">
        <img src="http://placehold.it/184x90"/>
        <img src="http://placehold.it/970x90"/>
        <img src="http://placehold.it/184x90"/>
      </div>
</div>

<hr>


<div class="container">
  <div class="row">
    <div class="header-logo">
      <img class="img img-responsive" src="img/header-logo.svg"/>
    </div>
    <h3 class="frontpage-section">
      <span class="header-section">News</span>
      <span class="header-section">Sports</span>
      <span class="header-section">Opinion</span>
      <span class="header-section">Video</span>
      <span class="header-section">34<sup>th</sup> Street</span>
      <span class="header-section">Under the Button</span>        
    </h3>
  </div>
</div>