<div class="container">
  <div class="row">
    <div class="col-sm-3">
      Follow the Daily Pennsyvanian
      <br>
      Have top stories from The Daily Pennsylvanian delivered to your inbox every day, Sunday through Thursday, when Penn classes are in session.
    </div>
    <div class="col-sm-9">
      {% include 'sections.html.tmpl' %}
    </div>
  </div>
</div>

<h3 class="footer-nav">
  <span class="header-section">News</span>
  <span class="header-section">Sports</span>
  <span class="header-section">Opinion</span>
  <span class="header-section">Video</span>
  <span class="header-section">34<sup>th</sup>&nbsp;Street</span>
  <span class="header-section">Under&nbsp;the&nbsp;Button</span>        
</h3>

<div class="footer-copy">
  Copyright &copy; 2015 <i>The Daily Pennsylvanian, Inc.</i> All Rights Reserved. <br>
  
  Powered by <img src="img/SNWorks.svg" /> Solutions by The State News.
</div>