<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="search-field">
          <span class="glyphicon glyphicon-search"></span>
        </span>
        <span class="menu">
          <span class="menu-text">Sections</span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </span>
      </a>
    </div>
  </div>
</nav>
<div class="text-center">
      <div class="leaderboard">
        <img src="http://placehold.it/184x90"/>
        <img src="http://placehold.it/970x90"/>
        <img src="http://placehold.it/184x90"/>
      </div>
</div>
