{% extends "base.html" %} {%block body%}
<div class="container">
  <div class="row">
    <div class="col-sm-8 section-container">
      <h3 class="frontpage-section">Section</h3>
      <div class="push-justify">
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
        <a class="subsection-link">Subsection</a>
      </div>

      <div class="top-story section-story-block">
        <img src="https://placehold.it/1200x800?text=4:3" class="img img-responsive img-leader" />
        <a href="#" class="frontpage-link large-link">Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod</a>
        <div class="article-preview">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>

      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
      
      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>

      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
      
      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
      
      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>
      
      <div class="section-story-block">
        <span class="col-md-4 story-block-img">
          <img src="https://placehold.it/800x600?text=4:3" class="img img-responsive img-leader" />
        </span>
        <div class="col-sm-8">
          <div class="timestamp">2 hours ago</div>
          <div class="medium-link">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit
          </div>
          <div class="article-preview">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
      </div>

    </div>
    <aside class="col-sm-4">
      <img src="http://placehold.it/300x250" class="article-ad-unit" />
      <img src="http://placehold.it/300x250" class="article-ad-unit" />
      <div class="fb-page" data-href="https://www.facebook.com/dailypenn" data-tabs="timeline" data-width="300px" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dailypenn"><a href="https://www.facebook.com/dailypenn">The Daily Pennsylvanian</a></blockquote></div></div>

      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3Adailypenn%20OR%20from%3ADailyPennSports%20OR%20from%3Aunderthebutton%20OR%20from%3A34ST" data-widget-id="683372908421509120" data-width="300px">Tweets about from:dailypenn OR from:DailyPennSports OR from:underthebutton OR from:34ST</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  </div>
</div>
{%endblock%}
