@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Arimo:400,400italic,700|Lora:400,400italic,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
body {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif; }

h1, h2, h3, h4, h5, h6, .header-text, .menu-text {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 36px;
  font-weight: 700; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 26px;
  font-weight: 700; }

h4 {
  font-size: 21px; }

h5 {
  font-size: 18px;
  font-weight: 700; }

h6 {
  font-size: 14px; }

article {
  font-size: 18px;
  line-height: 175%; }

figcaption {
  font-family: "Arimo", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #555555;
  padding-bottom: 15px; }

p {
  padding-bottom: 20px; }

.container {
  padding-top: 70px; }

.img-leader {
  padding-bottom: 15px; }

h6.compass {
  font-weight: 400;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  line-height: 1.4;
  width: 100%; }
  h6.compass:last-child {
    border-bottom: none; }

h5.compass {
  color: #aa1e22;
  position: relative;
  display: inline;
  top: 3px;
  left: 5px; }

img.compass {
  width: 30px;
  height: 30px;
  vertical-align: middle; }

.col-lg-2.compass {
  border-left: 1px solid #ccc; }

.article-preview {
  font-size: 18px;
  margin-top: 10px; }

.timestamp {
  font-family: "Arimo";
  font-style: italic;
  font-size: 13px;
  color: #ccc; }

.frontpage-section {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 7px solid #000; }
  .frontpage-section.frontpage-section-inverse {
    border-bottom: none;
    padding: 5px;
    color: #fff;
    background-color: #000;
    font-size: 180%; }

.top-stories h3 {
  margin-top: 0; }

.top-stories .top-story:last-child {
  padding-top: 45px; }

.section-news.section-news-left {
  text-align: right; }

.section-video {
  padding: 0; }
  .section-video a {
    position: relative;
    color: white;
    bottom: 100px;
    left: 40px; }
    .section-video a .fa {
      font-size: 150%;
      vertical-align: middle;
      padding-right: 10px; }

.external-border {
  border-left: 7px solid #000;
  padding-left: 0;
  padding-right: 0; }

.section-utb {
  padding-top: 15px; }

.frontpage-link {
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.1; }
  .frontpage-link.standard-link {
    font-size: 18px; }
  .frontpage-link.large-link {
    font-size: 36px;
    font-weight: 700; }
  .frontpage-link.medium-link {
    font-size: 26px;
    font-weight: 700; }

.most-read-list {
  padding: 0; }
  .most-read-list ol {
    list-style: none;
    font-size: 400%;
    display: inline-block;
    line-height: 0; }
    .most-read-list ol li {
      padding-bottom: 15px;
      line-height: 12px; }
      .most-read-list ol li a {
        display: inline-block;
        width: 60%; }
      .most-read-list ol li .count::before {
        font-family: "Montserrat", sans-serif;
        color: #aa1e22;
        size: 60px;
        counter-increment: mycounter;
        content: counter(mycounter) " "; }
      .most-read-list ol li img {
        width: 50px;
        padding: 0;
        vertical-align: baseline; }
  .most-read-list:first-of-type {
    counter-reset: mycounter; }

.section-list h4 {
  font-weight: 700; }

.section-list a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000;
  padding-top: 3px;
  font-weight: 400; }

.section-etc {
  padding-bottom: 50px; }
  .section-etc .current-issue {
    padding: 1px; }

article {
  border-right: 1px solid #e7e7e7; }
  article .author-bio {
    border-top: 7px solid #000;
    margin-top: 5px;
    padding-top: 5px;
    font-family: "Montserrat", sans-serif; }
  article .article-metadata {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px; }
    article .article-metadata .byline {
      font-weight: 700;
      border-right: 1px solid #555555;
      padding-right: 10px;
      margin-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px; }

aside {
  padding-top: 45vh; }

.article-ad-unit {
  padding-bottom: 15px; }

nav {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 120%; }
  nav .glyphicon {
    vertical-align: text-bottom;
    top: -0.5px; }

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto; }

.search-field .glyphicon {
  margin-left: -10px; }

.search-field:after {
  content: "";
  position: absolute;
  left: 35px;
  bottom: 12.5%;
  height: 75%;
  width: 1px;
  border-right: 1px solid #777; }

.menu-toggle {
  cursor: pointer; }
  .menu-toggle:not(.closed) {
    background-color: #000; }
    .menu-toggle:not(.closed) span {
      color: #fff; }
    .menu-toggle:not(.closed)::after {
      content: "";
      position: absolute;
      width: 120vw;
      margin-left: -10vw;
      height: 7px;
      background-color: black; }
  .menu-toggle .glyphicon-menu-hamburger {
    padding-right: 5px; }

.social-icons .fa {
  padding-left: 5px; }

.navbar-subscribe {
  font-weight: 400;
  font-size: 14px;
  background: #aa1e22;
  text-transform: uppercase; }
  .navbar-subscribe a {
    color: #fff !important; }

.header-logo {
  text-align: center; }
  .header-logo img {
    width: 700px;
    display: initial; }

.footer-logo {
  text-align: center;
  padding: 35px; }

.header-section {
  padding-left: 3%;
  padding-right: 3%; }

.section-dropdown {
  width: 100%;
  background-color: #f8f8f8;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: 25px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  max-height: 1000px;
  overflow: hidden; }
  .section-dropdown.closed {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out; }
  .section-dropdown h4 {
    font-weight: 700; }

.affix {
  top: 0;
  width: 100%;
  z-index: 1000; }

.affix + .container-fluid {
  padding-top: 70px; }

.leaderboards {
  padding-top: 70px; }

footer {
  background-color: #f8f8f8; }

.footer-nav {
  text-align: center;
  color: #585858;
  margin-bottom: 20px; }

.footer-copy {
  font-family: "Arimo", Helvetica, Arial, sans-serif;
  color: #585858;
  text-align: center; }
  .footer-copy img {
    display: inline;
    width: 100px;
    margin: 15px; }
