.article-container {
  border-right: 1px solid #e7e7e7;
  
  .author-bio {
    border-top: 7px solid #000;
    margin-top: 5px;
    padding-top: 5px;
    font-family: $font-family-heading;
  }
}

article {
  padding-top: 75px;
  
  .article-metadata {
    font-family: $font-family-heading;
    margin-bottom: 15px;
    
    .byline {
      font-weight: 700;
      border-right: 1px solid $gray;
      padding-right: 10px;
      margin-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 15px;
    }
  }
  
  .img-gallery {
    text-align: center;
    display: inline;
    width: 90%;
  }
  
  // figure:not(:first-child):not(#fb-root):not(.twitter-tweet){
  //   display: none;
  // }
  
  blockquote {
    &.blockquote-aside {
      width: 25%;
      border-left: none;
      float: left;
      position: relative;
      left: -25px;
      margin-right: -15px;
      border-top: 5px solid #000;
      color: $brand-primary;
      font-family: $font-family-heading;
      padding: 0;
      padding-top: 5px;
    }
  }
}

aside {
  padding-top: 45vh;
}

.article-ad-unit {
  padding-bottom: 15px;
}


.section-container {
  padding-top: 70px;
  
  .frontpage-section {
    text-align: left;
  }
  
  .push-justify {
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
    width: 100%;
  }
  .push-justify:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .subsection-link {
    font-family: $font-family-heading;
  }
}

//Social Stuff

// Make tweets responsive
.entry-content .twitter-tweet-rendered {
    max-width: 100% !important;
}
.twitter-tweet, .EmbeddedTweet, .js-clickToOpenTarget, div[data-iframe-title~="Tweet"] {
  max-width: 100% !important;
}

// Comments
