@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Arimo:400,400italic,700|Lora:400,400italic,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6, .header-text, .menu-text {
  font-family: $font-family-heading;
}

h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 700;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  font-weight: 700;
}

h6 {
  font-size: $font-size-h6;
}

article {
  font-size: 18px;
  line-height: 175%;
}

figcaption {
  font-family: $font-family-sans-serif;
  font-size: 15px;
  font-style: italic;
  color: $gray;
  padding-bottom: 15px;
}

p {
  padding-bottom: 20px;
}