@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Arimo:400,400italic,700|Lora:400,400italic,700);

body {
  font-family: $font-family-base;
}

h1, h2, h3, h4, h5, h6, .header-text {
  font-family: $font-family-heading;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}